.align{
    /*margin-left: 360px;
    margin-right: 360px;*/
    font-family:'Roboto', 'Lato', sans-serif;
}
.header{
    font-size: 36px;
}
.normal_1{
    font-size: 20px;
}
.normal_2{
    font-size: 26px;
}
.normal_3{
    font-size: 21px;
}